<div id="config_schedule">
  <%= text_f f, :interval, :help_inline => popover('', _("How often to check connected hypervisors for changes (minutes)? Also affects how often a mapping is reported.")) %>
</div>
