pre.terminal {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  word-break: break-all;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 47, 47, 1);
  border: 1px solid #000000;
  border-radius: 0px;
  font-family: Menlo, Monaco, Consolas, monospace;
}

div.wizard {
  padding-left: 40px;
  margin-left: 1em;
}
