pre.terminal {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  max-height: 300px;
  font-size: 12px;
  word-break: break-all;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 47, 47, 1);
  border: 1px solid #000000;
  border-radius: 0px;
  font-family: Menlo, Monaco, Consolas, monospace;
}

.terminal-buttons {
  margin-bottom: 10px;
}

#config-tab.nav {
  margin-bottom: 0;
}

#config-tab.nav {
  clear: both;
}

.config-tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  border-top: 0;
  display: inline-block;
  width: 100%;
}
